@charset "UTF-8";
/* main.scss */
/* reset.scss */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #cbd8e0;
  color: #0d1321;
  overflow-x: hidden;
}

/* header.css */
header {
  background-color: rgb(13, 19, 33);
  color: #fff;
  text-align: center;
  padding: 0.3em;
  align-items: center; /* Centra verticalmente el contenido */
}

header {
  display: flex;
}
header div {
  flex-grow: 1;
  text-align: center;
  margin-right: 4rem;
}
header img {
  max-width: 80px; /* Adjust the max-width as needed */
  margin-right: 1rem; /* Adjust the margin as needed */
  margin-left: 2rem;
  border-radius: 50%; /* Optional: Apply border-radius for a circular logo */
}
header h1 {
  margin: 0;
}
header p {
  margin: 0;
}

/* footer.css */
footer {
  background-color: #0d1321;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.social-icons {
  margin-top: 1em;
}

.social-icons a {
  display: inline-block;
  margin: 0 0.5em;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

.contact-section {
  text-align: center;
}
.contact-section h2 {
  margin-bottom: 2rem;
  font-size: 2em;
}
.contact-section .contact-buttons {
  display: flex;
  justify-content: center;
}
.contact-section .contact-buttons a {
  display: inline-flex;
  align-items: center;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  background-color: rgb(0, 121, 42);
  border-radius: 5px;
  transition: background-color 0.3s ease-out;
}
.contact-section .contact-buttons a:hover {
  background-color: rgb(0, 87, 30);
}
.contact-section .contact-buttons a i {
  margin-right: 10px;
}
.contact-section .contact-buttons .telegram-button {
  background-color: rgb(0, 87, 131);
}
.contact-section .contact-buttons .telegram-button:hover {
  background-color: rgb(0, 66, 99);
}
.contact-section .contact-buttons .gmail-button {
  background-color: rgb(131, 6, 6);
}
.contact-section .contact-buttons .gmail-button:hover {
  background-color: rgb(95, 5, 5);
}

/* portfolio.scss */
.portfolio-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin; /* Para navegadores Firefox */
  scrollbar-color: darkgray lightgray; /* Define el color de la barra y el fondo (opcional) */
}

.portfolio-item {
  flex: 0 0 auto;
  width: 27rem;
  margin-right: 20px;
  scroll-snap-align: start;
  transition: transform 0.5s ease-out;
  position: relative;
  margin-bottom: 20px;
}

.portfolio-container::-webkit-scrollbar {
  width: 12px; /* Ajusta el ancho de la barra de desplazamiento según tus preferencias */
}

.portfolio-container::-webkit-scrollbar-thumb {
  background-color: #0d1321; /* Define el color del "pulgar" de la barra */
}

.portfolio-container::-webkit-scrollbar-track {
  background-color: #5b6e7b; /* Define el color de la "pista" de la barra (opcional) */
}

.portfolio-item img {
  width: 100%;
  height: 500px; /* Ajusta esta altura según tus necesidades */
  object-fit: cover; /* Esto asegura que la imagen cubra el contenedor manteniendo las proporciones */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.portfolio-item video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.portfolio-item:hover img,
.portfolio-item:hover video {
  transform: scale(1.01);
  opacity: 2;
}

.process-section h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.process-section .steps {
  display: flex;
}
.process-section .steps .step {
  box-sizing: border-box;
  max-width: 500px;
  margin: 2em auto;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 2em;
  background-color: #5b6e7b;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 1rem;
}
.process-section .steps .step h3 {
  color: white;
}
.process-section .steps .step p {
  color: white;
}
.process-section .contact-info {
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
}
.process-section .contact-info div {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 1rem;
}
.process-section .contact-info div h4 {
  margin-bottom: 0.5rem;
}

/* section.css */
section {
  box-sizing: border-box;
  max-width: 1150px;
  margin: 2em auto;
  padding: 2em;
  background-color: #fffbf5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

/* Agrega estos estilos a tu archivo de estilo (style.scss) */
.category-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.category-buttons button {
  padding: 8px 16px;
  font-size: 14px;
  transition: background-color 0.3s ease; /* Añade una transición suave */
}
.category-buttons button.active {
  background-color: rgb(53, 17, 17);
}

/* estilos/main.scss */
/* Agrega un estilo básico a los botones */
.category-buttons {
  display: flex;
  gap: 10px;
  margin-left: 6rem;
  margin-right: 6rem;
}

/* Estilo base para todos los botones */
.category-buttons button {
  padding: 10px 100px;
  background-color: #5b6e7b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Cambia el color de fondo al pasar el mouse */
.category-buttons button:hover {
  background-color: #373d42;
}

/*# sourceMappingURL=main.css.map */
